



<div class="text-center jumbotron jumbotron_home">
  <div class="container show-case">
    <h1>Hola, Bienvenidos!</h1>
     <div class="container">
      <p class="text-center">
        
          ProHacktividad es una Aplicación Web para compartir 
          conocimientos, artículos, archivos, libros PDF relacionados a la programación.
          <br>
          <hr>
        <h4 style="color:cyan;">WebApp Under Construction</h4>
        <em>Programmer:<b>Paterson Anaccius</b> con la ayuda de <b>Don Juan</b></em>
      </p>
     </div>
  </div>
  <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>-->
  <%= link_to "Pater Blog", articles_path, class: "btn btn-primary btn-lg" %>
  <%= link_to "Acerca", about_path, class: "btn btn-primary btn-lg" %>
</div>