$navbar-default-bg: white;
@import "bootstrap-sprockets";
@import "bootstrap";
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

body{
    background-color: #f6f7f9;
    padding-top: 6.5rem;
    }
.container {
    max-width: 970px;
}

#logo{
    height: 200%;
    margin-top: -10px;
    margin-bottom: -10px;
    }

#links{
    color: black;
    }

.jumbotron_index{
    min-height: 100px;
    max-width: 90%;
    padding: 5px 5px 5px 5px;
    margin: auto;
    }
    
.jumbotron_home{
    background-image: asset-url("bg_img.jpg");
    background-size: cover;
    min-height: 450px;
    overflow: hidden;
    margin-top: 10px;
    }
    

.show-case{
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    min-height: 300px;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 10px;
    }
    
.downloadBtn{
        border: 1px solid;
        border-radius: 5px;
        padding: 10px;
        width: 200px;
        background: orange; 
        color: white;
    }
    
.downloadBtn:hover{
      background: #01036c;
      color : white;
    }
    

//-----SHOW PAGE---   
.show-article{
    border-left: 2px solid dodgerblue;
    background-color: #f5f5f5;
    margin-top: 10px;
    padding-top: 50px;
    }   
.b, .strong {
    font-weight: bold;
    font-size: 30px;
    }
    
h4, .h4 {
    font-size: 10px;
    }
//----END SHOW PGE---
    
footer{
    width: 100%;
    height: 80px;
    border-top: 1px solid #eaeaea;
    position:fixed;
    bottom:0;
    background-color: white;
    }  
    
ul, li{
    list-style-type: none;
    text-decoration: none;
    }


//USER LISTING
.user-listing {
    border-bottom: 1px solid gray;
    padding: 10px ;
    margin: 5px;
}

.user-name{
    font-size: 20px;
}

.navbar-default {
    background-color: white;
    border-bottom-color: green;
}

.section-1-header{
    background-color: mediumseagreen;
    color: white;
    width: 100%;
}

.col-sm-6 {
    color: black;
    background-color: white;}
    
.section-2-header{
    background-color: mediumseagreen;
    color: white;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

//--Caroussel--



.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
    line-height: 1;
    margin-top: 10px;
}
