<div class="container">
    <footer>
        </br>
        <div class="row ">
            <div class="col-4 col-sm-4 col-lg-4">
                Copyright &copy; <a href="https://api.whatsapp.com/send?phone=56994924535" target = _blank> TechnoloGeek </a><br>
            </div> 
            
            <div class="col-4 col-sm-4 col-lg-4">
                <a href="https://api.whatsapp.com/send?phone=56994924535" target = _blank> Contactenos al What'sApp </a></br>
            </div> 
            
            <div class="col-4 col-sm-4 col-lg-4">
                <a href="https://www.facebook.com/PlantillasExcelTrucosYtips/" target = _blank> Nuestra Página Facebook </a>
            </div> 
        </div>
    </footer>
</div>